html{
    scroll-behavior: smooth;
}
.menu{
    background-color: rgba(0,0,0,0.7);
    padding: 2%;
    text-align: center;
    
}
.itens_menu{
    text-align: center;
}
.itens_menu li{
    font-size: 1.5em;
    line-height: 1.5;
}
h1{
    font-size: 2em;
    margin-top: 1%;
    margin-bottom: 1%;
}
body{
background-image: url(https://3.bp.blogspot.com/-TkCHWHcQdGA/Uct1lbQAnQI/AAAAAAAABfs/DGe4dSLf52k/s1600/The-Last-of-Us-brasil+blog.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size:cover ;

}
section{
    margin-top: 2%;
    margin-bottom: 2%;
}

.container{
    width: 80%;
    margin: auto;
   
}

h1{
    text-align: center;
}
.img_corpo{
    width: 80%;
}

figure{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;

}
    .img_toop{
        width: 80%;
    }
    p{
        font-size: 1.4em;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-indent: 60px;
        text-align: justify;
        line-height: 1.5;
    }
    footer{
        background-color:  rgba(0,0,0,0.7);
        padding-top: 2%;
        padding-bottom: 2%;
        text-align: center;
    }
    .center{
        text-align: center;
    }
    .itens_menu a:link, .itens_menu a:visited  {
        color: rgb(241, 15, 15);
        text-decoration: none;
      }
    
    .itens_menu a:hover{
        background-color: rgba(255, 0, 0, 0.3);
        padding: 0.8%;
    }
    
    .itens_menu a:active{
        color: black;
    }
    
    #sobre{
        background-color: #000000;
    }
